@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

:root {
  --bg-color: #222831;
  --primary-color: #DDDDDD;
  --secundary-color: #F05454;
  --font: Handjet;
}
